body {
    background-color: #f2c8aa;
    font: 100%/1.6 "Lora", serif; 
    font-weight: 400; 
    margin: 0 auto;
    padding: 2em; 
    text-align: left;
}

.center {
  margin: auto;
    max-width: 40rem;
}

  h1 {font-size: 3.125em;}
  h2 {font-size: 2.618em;}
  h3 {font-size: 1.931em;}
  h4 {font-size: 1.618em;}
  h5 {font-size: 1.194em;}
  h6 {font-size: 1em;}

h1 {
    font-size: 3.125em;
    text-align: center;
    color: white;
    margin: 0 auto;
}

#title {
  font-size: 15vw;
  background-image: url("2.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  font-size: 3rem;
  opacity: 0.4;
  color: ivory;
  margin-bottom: 0;
}

h3 {
    text-align: center;
    color: ivory;
}

h4 {
    text-align: center;
    color: ivory;
}

h5 {
    text-align: center;
    color: ivory;
}

p {
    text-align: center;
    color: ivory;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding-left: 2em;
  text-indent: -2em;
  margin-bottom: 1em;
  line-height: 2;
}

a {
  color: #13527f;
  text-decoration: none;
  box-shadow: inset 0 -0.75em 0 ivory;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

a:hover,
a:focus {
  box-shadow: inset 0 -0.15em 0 ivory;
}

a:focus {
  outline: none;
}

@media (min-width: 44rem) {
  .other {
    max-width: 40rem;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: [title] 1fr [content] 2fr;
    grid-gap: 4rem 1rem;
    align-items: center;
  }

  h2 {
    margin: auto;
  }
}
