---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.title}>
  <article>
    <h1>{post.data.title}</h1>
    <p>
      {post.data.date.toLocaleDateString()}
    </p>
    <Content />
  </article>
</Layout>
