img {
  pointer-events: none;
  user-select: none;
}

#robot {
  position: absolute;
  width: 40px;
  top: 110px;
  left: 162px;
}

#main {
  position: relative;
  margin-left: 10px;
}

.parcel {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(assets/parcel.png);
}
