---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <h1
    class="mb-8 bg-sky bg-cover bg-clip-text text-center font-lora text-title font-bold text-transparent"
  >
    Toby Law
  </h1>
  <p>
    I don't believe in premature optimisation. I should let files emerge
    organically and then abstract away common patterns.
  </p>


</html>
