---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <!-- TODO: Make this into a component -->
  <head>
    <meta charset="utf-8" />
    <title>Hello world</title>
  </head>
  <body>
    <h1 class="title mb-8">Toby Law</h1>
    <div class="m-auto max-w-prose">
      <p></p>
      <p>
        Hi! I am a software developer based in Melbourne. I graduated from the
        University of Melbourne and now work at ANZ. I am interested in fintech,
        tools for thought, and programming language design.
      </p>
      <p>
        Recently, I've been studying <a href="#"
          >data structures and algorithms</a
        > and <a href="https://github.com/tzcl/keyboards">building keebs</a>.
      </p>
      <h2>Essays</h2>
      <p>TODO :D</p>
      <h2>Contact</h2>
      <ul class="list-inside list-disc">
        <li><a href="https://twitter.com/tobylaw_">Twitter</a></li>
        <li><a href="https://github.com/tzcl">Github</a></li>
        <li><a href="https://www.linkedin.com/in/tobylaw/">LinkedIn</a></li>
      </ul>
    </div>
  </body>
</html>
