---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Toby Law">
  <h1 class="title mb-8">Toby Law</h1>
  <article>
    <p></p>
    <p>
      Hi! I am a software developer based in Melbourne. I graduated from the
      University of Melbourne and now work at ANZ. I am interested in fintech,
      tools for thought, and programming language design.
    </p>
    <p>
      Recently, I've been studying <a href="#">data structures and algorithms</a
      > and <a href="https://github.com/tzcl/keyboards">building keebs</a>.
    </p>
    <h2>Essays</h2>
    <p>TODO :D</p>
    <h2>Contact</h2>
    <ul class="list-inside list-disc">
      <li><a href="https://twitter.com/tobylaw_">Twitter</a></li>
      <li><a href="https://github.com/tzcl">Github</a></li>
      <li><a href="https://www.linkedin.com/in/tobylaw/">LinkedIn</a></li>
    </ul>
  </article>
</Layout>
