/* Reset */
* {
  box-sizing: border-box;
}

textarea {
  padding: 8px;
  width: 100%;

  min-height: 6rem;
  height: 10rem;
  resize: vertical;
}

pre {
  overflow: scroll;
}

@media (min-width: 40em) {
  #root {
    height: 100vh;
  }

  textarea {
    width: 50%;
    max-width: 40em;
  }
}
