@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lora";
  src: url("lora.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-light font-georgia text-gray-900 dark:bg-dark dark:text-gray-300;
    counter-reset: sidenote-counter;
  }

  article {
    @apply mx-auto max-w-prose px-8 py-20;
  }

  section {
    @apply py-4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal leading-none;
  }

  h1 {
    @apply mb-4 mt-8 text-[3.2rem];
  }

  h2 {
    @apply mb-4 mt-7 text-[2.2rem] italic;
  }

  h3 {
    @apply mb-4 mt-6 text-[1.7rem] italic;
  }

  a,
  p,
  ul,
  ol {
    @apply text-lg;
    @apply my-4;
  }

  a {
    @apply underline hover:text-gray-400 dark:hover:text-gray-500;
  }

  ul,
  ol {
    @apply ps-[5%];
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply mb-1;
  }

  hr {
    @apply border;
  }

  code {
    @apply text-sm;
  }
}

/* -------------------------- */
/* Sidenotes and margin notes */
/* -------------------------- */

input.margin-toggle {
  @apply hidden;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  @apply relative;
  font-family: Times;
}

.sidenote-number:after {
  @apply -top-2 left-[0.1rem] cursor-pointer text-sm underline;
  content: counter(sidenote-counter);
}

.sidenote:before {
  @apply -top-2 text-sm;
  content: counter(sidenote-counter) " ";
}

.sidenote {
  @apply hidden;
}

.margin-toggle:not(:checked) + .sidenote {
  @apply relative left-4 float-right clear-both my-4 inline-block w-full text-sm;
}

.sidenote > a {
  @apply text-sm;
}

@layer components {
  .title {
    @apply bg-sky bg-contain bg-clip-text bg-center text-transparent dark:bg-roof;
    @apply text-center font-lora text-title font-bold leading-relaxed;
    @apply mb-8 mt-12;
  }

  p.subtitle {
    @apply my-4 block text-[1.8rem] italic leading-none;
  }

  span.newthought {
    font-variant-caps: small-caps;
    @apply text-xl;
  }
}
