---
import "../global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="manifest" href="site.webmanifest" />

    <script
      async
      defer
      data-website-id="da32127d-c6a3-438c-b385-e709c9d0e07d"
      src="https://analytics.tzcl.me/umami.js"
    ></script>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
