---
import "../global.css";

export interface Props {
  title: string;
  class?: string;
}

const props = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{props.title}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />

    <script
      async
      src="https://analytics.tzcl.me/script.js"
      data-website-id="3c5de136-a448-49f7-bbba-4dc000b0fc26"></script>
  </head>
  <body>
    <main class={props.class}>
      <slot />
    </main>
  </body>
</html>
